@charset "UTF-8";
/*------------------------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  /*------------------------------------*/
  section {
    width: 400px;
    height: 350px;
    background-color: #ccc; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-item: center;
    overflow: hidden;
    background: #fff;
  }
  
  section > div {
    position: absolute;
    top:0;
    left: 0;
    width: 400px;
    height: 350px;
    height:100%;
    background-image: url('https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  section > div.clone-img {
    position:absolute;
    z-index:10;
    width: 400px;
    height: 350px;
    top:0;
    left:0;
    transition-duration: .5s;
  }
  
  section > span {
    position: absolute;
    top: 135px;
    cursor: pointer;
    font-size:30px;
    color:#fff;
    z-index:9;
    text-shadow: 1px 1px 1px #000;
  }
  
  section > span:first-child {
    left: 10px;
  }
  
  section > span:last-child {
    right: 10px;
  }
  
  
  section > div.left-right-show {
    left:0;
  }
  
  section > div.left-right-hide {
    left:400px;
  }
  
  section > aside {
    width: 400px;
    height: 350px;
    background: #fff;
    z-index: 1;
    position: absolute;
  }