.modal_container {
    z-index: 9;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container.hidden {
    display: none;
}

.modal {
    width: 400px;
    height: 250px;
    border: 1px solid #888;
    background-color: #fff;
}
