@import "reset";

$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 899.98;
$md3: 599.98;
$md4: 479.98;
$mainColor: #FF7931;

@mixin adaptive-value($property,$startSize,$minSize,$needWidth,$type){
   $addSize : $startSize - $minSize;
   @if $type == 1 {
      //Только если меньше контейнера
      #{$property} : $startSize + px;
      @media(max-width: #{$maxWidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$needWidth + px}) / #{$maxWidthContainer - 320}));
      }
   } @else if $type == 2 {
      //Только если больше контейнера
      #{$property} : $startSize + px;
      @media(min-width: #{$maxWidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$needWidth + px}) / #{$maxWidth - 320}));
      }
   } @else {
      //Всгда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$needWidth + px}) / #{$maxWidth - 320}));
   }
}
/*---------------------*/
body{
    font-size: 18px;
}
input{
    width: 100px;
    border: 1px solid grey;
    margin-right: 5px;
    padding: 2px;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}
li:last-child{
    margin-bottom: 0;
}
.btn {
    padding: 2px;
    border: 1px solid grey;
    background-color: lightgrey;
    font-size: 12px;
    text-align: center;
    align-self: center;
    max-width: 100px;
    cursor: pointer;
}
.header {
    background-color: lightblue;
    padding: 15px 30px 10px 30px;
    &__title {
        font-size: 30px;
        color: white;
        display: flex;
        align-items: baseline;

      > div {
        padding-left: 20px;
        font-size: 70%;
      }
    }

    &__button {
        font-size: 30px;
        color: white;
        text-align: right;
    }
}
.main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.form {
   &__title{
    margin-bottom: 15px;
   } 
}
.form-content{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}
.listProduct {
    margin-bottom: 20px;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputAdd{
    margin-left: 5px;
    margin-right: 0;
    width: 150px;
}
.inoputDel{
    margin-left: 5px;
    margin-right: 0;
    width: 150px; 
}
.newProduct {
}
.blockInput {
    margin-bottom: 10px;
}
.addNewProduct {
    margin-bottom: 25px;
}
.addCard {
}
.openCard{
    text-decoration: underline;
    cursor: pointer;
}
.card {
    flex: 0 0 300px;
    padding: 10px;
    border: 1px solid black;
    display: none;
}
.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
		&__title {

		}
        &__clearCard{

        }
}
.readyList {
}
._activeCard{
    display: block;
}


