

#rocket {
    background-color: #FF7931;
    width: 20px;
    height: 200px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    position:absolute;
    bottom: 20px;
    left: 300px;
    transform: rotate(25deg);
}