 .list{
    margin: 50px auto;
    max-width: 900px;
} 
.list-container{
    padding: 30px 50px;
}
.list-title{
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,224,253,0.3);
    border: 2px dashed black;
    margin-bottom: 30px;
    border-radius: 10px;
}
.form{
    margin-bottom: 30px;
}
.form input{
    max-width: 120px;
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.form button {
    display: inline-block;
    width: 160px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 0;
    height: 29px;
    background-color: rgb(255,222,173);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
    margin-left: 16px;
    border-radius: 5px;
}

.form button:before {
    content: " ";
    background-color: rgb(255,222,173);
    height: 19px;
    width: 19px;
    display: block;
    position: absolute;
    top: 1px;
    left: -8px;
    border-radius: 5px;
    border: 2px solid black;
    transform: rotate(45deg);
    z-index: -1;
}


.table{
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;
}
td{
    padding: 10px;
    border: 1px solid black;
    
}

th{
    padding: 10px;
    border: 1px solid black;
    text-align: left; 
    transition: all 0.3s ease 0s;
}

thead tr th:before{
    content: url(arrow-down.svg);
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

thead tr th:last-child::before{
    content: '';
}

 thead tr th.down:before{
     content: url(arrow-down.svg);
     margin-right: 5px;
     cursor: pointer;
     display: inline-block;
     transform: rotate(180deg);
 }
 thead tr th.down:last-child:before{
     content: '';
 }
 .thLast{
     font-weight: 600;
 }

td:last-child {
    text-align: center;
}
.edit{
    padding: 5px;
    background-color: rgb(255,222,173);
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
}
.inp{
    background-color: white;
    margin-right: 10px;
}

 .wrapper{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .modal-container{
     width: 100%;
     height: 100%;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     left: 0;
     display: none;
     background-color: rgba(0,0,0, 0.3);
 }
 .modal-window {
     flex: 0 1 40%;
     padding: 20px;
     background-color: white;
     border: 1px solid blue;
     border-radius: 10px;
     position: relative;
     z-index: -2;
 }
 .modal-header {
     margin-bottom: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .title {
     font-weight: 600;
     font-size: 18px;
 }
 .cross {
     width: 26px;
     height: 26px;
     position: relative;
     cursor: pointer;

 }
 .cross:hover span{
     background-color: blue;
 }
 .cross span {
     width: 100%;
     height: 2px;
     background-color: black;
     position: absolute;
     top: 12px;
     left: 0;
     transition: all 0.3s ease 0s;
 }
 .cross span:first-child{
     transform: rotate(45deg);
 }
 .cross span:last-child{
     transform: rotate(-45deg);

 }
 .modal-content {
     border-top:1px solid grey;
     border-bottom:1px solid grey;
     padding-top: 10px;
     padding-bottom: 10px;
     display: flex;
     align-items: center;
 }
 .model-footer {
     padding-top: 10px;
     text-align: right;
 }
 .btn {
     display: inline-flex;
     width: 150px;
     height: 30px;
     padding: 5px;
     border: 1px solid blue;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     border-radius: 5px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }
 .btn:hover{
     color: white;
     background-color: blue;
 }
 .button{
     transition: all 0.3s ease 0s;
     width: 200px;
     height: 100px;
     color: white;
     font-size: 20px;
     padding: 10px;
     background-color: black;
     text-transform: uppercase;
     cursor: pointer;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
 }
 .button:hover{
     font-size: 22px;
 }

 .modal-container .form {
     display: flex;
     align-items: center;
     margin-bottom: 0;
 }